body {
  background-image: url('https://wallpapercave.com/wp/YWaaUWl.jpg');
  background-position: center;
  background-size: 150%;
}

.enter {
  color: white;
  margin-top: 150px;
  text-align: center;
}
